In [1]:
import numpy as np

In [2]:
import pandas as pd

In [7]:
tables = pd.read_html("examples/fdic_failed_bank_list.html")

In [8]:
tables

[                             Bank Name             City  ST   CERT  \
 0                          Allied Bank         Mulberry  AR     91
 1         The Woodbury Banking Company         Woodbury  GA  11297
 2               First CornerStone Bank  King of Prussia  PA  35312
 3                   Trust Company Bank          Memphis  TN   9956
 4           North Milwaukee State Bank        Milwaukee  WI  20364
 ..                                 ...              ...  ..    ...
 542                 Superior Bank, FSB         Hinsdale  IL  32646
 543                Malta National Bank            Malta  OH   6629
 544    First Alliance Bank & Trust Co.       Manchester  NH  34264
 545  National State Bank of Metropolis       Metropolis  IL   3815
 546                   Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 ..                                   ...                 ...
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

           Updated Date
 0    November 17, 2016
 1    November 17, 2016
 2    September 6, 2016
 3    September 6, 2016
 4        June 16, 2016
 ..                 ...
 542    August 19, 2014
 543  November 18, 2002
 544  February 18, 2003
 545     March 17, 2005
 546     March 17, 2005

 [547 rows x 7 columns]]

In [9]:
len(tables)

1

In [10]:
failures=tables[0]

In [11]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [12]:
close_timestamps = pd.to_datetime(failures["Closing Date"])

In [13]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

In [14]:
from lxml import objectify

In [15]:
path = "datasets/mta_perf/Performance_MNR.xml"

In [16]:
with open(path) as f:
    parsed = objectify.parse(f)

In [17]:
root = parsed.getroot()

In [18]:
data = []

In [19]:
skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
               "DESIRED_CHANGE", "DECIMAL_PLACES"]

In [20]:
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [21]:
perf = pd.DataFrame(data)

In [22]:
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [23]:
perf2 = pd.read_xml(path)

In [24]:
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

In [25]:
conda install pyarrow

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: c:\Users\Daniel\miniconda3\envs\pydata-book

  added / updated specs:
    - pyarrow


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    abseil-cpp-20210324.2      |       h0e60522_0         2.1 MB  conda-forge
    arrow-cpp-8.0.0            |py310hf269ffb_3_cpu        17.3 MB  conda-forge
    aws-c-cal-0.5.11           |       he19cf47_0          36 KB  conda-forge
    aws-c-common-0.6.2         |       h8ffe710_0         159 KB  conda-forge
    aws-c-event-stream-0.2.7   |      h70e1b0c_13          47 KB  conda-forge
    aws-c-io-0.10.5            |       h2fe331c_0         127 KB  conda-forge
    aws-checksums-0.1.11       |       h1e232aa_7          51 KB  conda-forge
    aws-sdk-cpp-1.8.186        |       hb0612c5_3         5.5 MB  conda-forge
    c-ares-1.18.1              |       h8ffe710_0         114 KB  conda-forge
    gflags-2.2.2               |    ha925a31_1004          80 KB  conda-forge
    glog-0.6.0                 |       h4797de2_0          95 KB  conda-forge
    grpc-cpp-1.45.2            |       hc952ed8_3        26.5 MB  conda-forge
    libcrc32c-1.1.2            |       h0e60522_0          25 KB  conda-forge
    libcurl-7.83.1             |       h789b8ee_0         303 KB  conda-forge
    libgoogle-cloud-1.40.2     |       h68f564a_0          10 KB  conda-forge
    libprotobuf-3.20.1         |       h7755175_0         2.4 MB  conda-forge
    libssh2-1.10.0             |       h680486a_2         227 KB  conda-forge
    libthrift-0.16.0           |       h636ae23_1         868 KB  conda-forge
    libutf8proc-2.7.0          |       hcb41399_0         101 KB  conda-forge
    parquet-cpp-1.5.1          |                2           3 KB  conda-forge
    pyarrow-8.0.0              |py310h4115056_3_cpu         2.7 MB  conda-forge
    re2-2022.04.01             |       h0e60522_0         472 KB  conda-forge
    snappy-1.1.9               |       h82413e6_1          55 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        59.2 MB

The following NEW packages will be INSTALLED:

  abseil-cpp         conda-forge/win-64::abseil-cpp-20210324.2-h0e60522_0
  arrow-cpp          conda-forge/win-64::arrow-cpp-8.0.0-py310hf269ffb_3_cpu
  aws-c-cal          conda-forge/win-64::aws-c-cal-0.5.11-he19cf47_0
  aws-c-common       conda-forge/win-64::aws-c-common-0.6.2-h8ffe710_0
  aws-c-event-stream conda-forge/win-64::aws-c-event-stream-0.2.7-h70e1b0c_13
  aws-c-io           conda-forge/win-64::aws-c-io-0.10.5-h2fe331c_0
  aws-checksums      conda-forge/win-64::aws-checksums-0.1.11-h1e232aa_7
  aws-sdk-cpp        conda-forge/win-64::aws-sdk-cpp-1.8.186-hb0612c5_3
  c-ares             conda-forge/win-64::c-ares-1.18.1-h8ffe710_0
  gflags             conda-forge/win-64::gflags-2.2.2-ha925a31_1004
  glog               conda-forge/win-64::glog-0.6.0-h4797de2_0
  grpc-cpp           conda-forge/win-64::grpc-cpp-1.45.2-hc952ed8_3
  libcrc32c          conda-forge/win-64::libcrc32c-1.1.2-h0e60522_0
  libcurl            conda-forge/win-64::libcurl-7.83.1-h789b8ee_0
  libgoogle-cloud    conda-forge/win-64::libgoogle-cloud-1.40.2-h68f564a_0
  libprotobuf        conda-forge/win-64::libprotobuf-3.20.1-h7755175_0
  libssh2            conda-forge/win-64::libssh2-1.10.0-h680486a_2
  libthrift          conda-forge/win-64::libthrift-0.16.0-h636ae23_1
  libutf8proc        conda-forge/win-64::libutf8proc-2.7.0-hcb41399_0
  parquet-cpp        conda-forge/noarch::parquet-cpp-1.5.1-2
  pyarrow            conda-forge/win-64::pyarrow-8.0.0-py310h4115056_3_cpu
  re2                conda-forge/win-64::re2-2022.04.01-h0e60522_0
  snappy             conda-forge/win-64::snappy-1.1.9-h82413e6_1



Downloading and Extracting Packages

snappy-1.1.9         | 55 KB     |            |   0%
snappy-1.1.9         | 55 KB     | ##9        |  29%
snappy-1.1.9         | 55 KB     | ########## | 100%

libgoogle-cloud-1.40 | 10 KB     |            |   0%
libgoogle-cloud-1.40 | 10 KB     | ########## | 100%

aws-c-common-0.6.2   | 159 KB    |            |   0%
aws-c-common-0.6.2   | 159 KB    | ########## | 100%
aws-c-common-0.6.2   | 159 KB    | ########## | 100%

libssh2-1.10.0       | 227 KB    |            |   0%
libssh2-1.10.0       | 227 KB    | ########## | 100%
libssh2-1.10.0       | 227 KB    | ########## | 100%

libcurl-7.83.1       | 303 KB    |            |   0%
libcurl-7.83.1       | 303 KB    | ########## | 100%
libcurl-7.83.1       | 303 KB    | ########## | 100%

grpc-cpp-1.45.2      | 26.5 MB   |            |   0%
grpc-cpp-1.45.2      | 26.5 MB   | 3          |   3%
grpc-cpp-1.45.2      | 26.5 MB   | #3         |  14%
grpc-cpp-1.45.2      | 26.5 MB   | ##6        |  27%
grpc-cpp-1.45.2      | 26.5 MB   | ####6      |  46%
grpc-cpp-1.45.2      | 26.5 MB   | #####9     |  59%
grpc-cpp-1.45.2      | 26.5 MB   | #######4   |  74%
grpc-cpp-1.45.2      | 26.5 MB   | ########7  |  88%
grpc-cpp-1.45.2      | 26.5 MB   | #########7 |  98%
grpc-cpp-1.45.2      | 26.5 MB   | ########## | 100%

libutf8proc-2.7.0    | 101 KB    |            |   0%
libutf8proc-2.7.0    | 101 KB    | ########## | 100%

libthrift-0.16.0     | 868 KB    |            |   0%
libthrift-0.16.0     | 868 KB    | ########## | 100%
libthrift-0.16.0     | 868 KB    | ########## | 100%

parquet-cpp-1.5.1    | 3 KB      |            |   0%
parquet-cpp-1.5.1    | 3 KB      | ########## | 100%

aws-sdk-cpp-1.8.186  | 5.5 MB    |            |   0%
aws-sdk-cpp-1.8.186  | 5.5 MB    | ##7        |  27%
aws-sdk-cpp-1.8.186  | 5.5 MB    | ######8    |  68%
aws-sdk-cpp-1.8.186  | 5.5 MB    | ########## | 100%

libcrc32c-1.1.2      | 25 KB     |            |   0%
libcrc32c-1.1.2      | 25 KB     | ########## | 100%

glog-0.6.0           | 95 KB     |            |   0%
glog-0.6.0           | 95 KB     | ########## | 100%

aws-c-io-0.10.5      | 127 KB    |            |   0%
aws-c-io-0.10.5      | 127 KB    | ########## | 100%
aws-c-io-0.10.5      | 127 KB    | ########## | 100%

c-ares-1.18.1        | 114 KB    |            |   0%
c-ares-1.18.1        | 114 KB    | ########## | 100%
c-ares-1.18.1        | 114 KB    | ########## | 100%

arrow-cpp-8.0.0      | 17.3 MB   |            |   0%
arrow-cpp-8.0.0      | 17.3 MB   | #          |  10%
arrow-cpp-8.0.0      | 17.3 MB   | ###2       |  32%
arrow-cpp-8.0.0      | 17.3 MB   | ######     |  60%
arrow-cpp-8.0.0      | 17.3 MB   | ########4  |  84%
arrow-cpp-8.0.0      | 17.3 MB   | ########## | 100%

aws-checksums-0.1.11 | 51 KB     |            |   0%
aws-checksums-0.1.11 | 51 KB     | ########## | 100%

aws-c-event-stream-0 | 47 KB     |            |   0%
aws-c-event-stream-0 | 47 KB     | ########## | 100%

gflags-2.2.2         | 80 KB     |            |   0%
gflags-2.2.2         | 80 KB     | ########## | 100%
gflags-2.2.2         | 80 KB     | ########## | 100%

aws-c-cal-0.5.11     | 36 KB     |            |   0%
aws-c-cal-0.5.11     | 36 KB     | ########## | 100%

libprotobuf-3.20.1   | 2.4 MB    |            |   0%
libprotobuf-3.20.1   | 2.4 MB    | ######5    |  66%
libprotobuf-3.20.1   | 2.4 MB    | ########## | 100%

abseil-cpp-20210324. | 2.1 MB    |            |   0%
abseil-cpp-20210324. | 2.1 MB    | ####1      |  41%
abseil-cpp-20210324. | 2.1 MB    | ########## | 100%
abseil-cpp-20210324. | 2.1 MB    | ########## | 100%

re2-2022.04.01       | 472 KB    |            |   0%
re2-2022.04.01       | 472 KB    | ########## | 100%
re2-2022.04.01       | 472 KB    | ########## | 100%

pyarrow-8.0.0        | 2.7 MB    |            |   0%
pyarrow-8.0.0        | 2.7 MB    | #2         |  13%
pyarrow-8.0.0        | 2.7 MB    | ########5  |  85%
pyarrow-8.0.0        | 2.7 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [26]:
conda install openpyxl xlrd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: c:\Users\Daniel\miniconda3\envs\pydata-book

  added / updated specs:
    - openpyxl
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    et_xmlfile-1.0.1           |          py_1001          11 KB  conda-forge
    openpyxl-3.0.9             |     pyhd8ed1ab_0         153 KB  conda-forge
    xlrd-2.0.1                 |     pyhd8ed1ab_3          92 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         256 KB

The following NEW packages will be INSTALLED:

  et_xmlfile         conda-forge/noarch::et_xmlfile-1.0.1-py_1001
  openpyxl           conda-forge/noarch::openpyxl-3.0.9-pyhd8ed1ab_0
  xlrd               conda-forge/noarch::xlrd-2.0.1-pyhd8ed1ab_3



Downloading and Extracting Packages

xlrd-2.0.1           | 92 KB     |            |   0%
xlrd-2.0.1           | 92 KB     | #7         |  17%
xlrd-2.0.1           | 92 KB     | ########## | 100%

openpyxl-3.0.9       | 153 KB    |            |   0%
openpyxl-3.0.9       | 153 KB    | ########## | 100%
openpyxl-3.0.9       | 153 KB    | ########## | 100%

et_xmlfile-1.0.1     | 11 KB     |            |   0%
et_xmlfile-1.0.1     | 11 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [27]:
xlsx = pd.ExcelFile("examples/ex1.xlsx")

In [28]:
xlsx.sheet_names

['Sheet1']

In [29]:
xlsx.parse(sheet_name="Sheet1")

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [30]:
xlsx.parse(sheet_name="Sheet1", index_col=0)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [31]:
frame = pd.read_excel("examples/ex1.xlsx", sheet_name="Sheet1")

In [32]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [33]:
conda install pytables

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: c:\Users\Daniel\miniconda3\envs\pydata-book

  added / updated specs:
    - pytables


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    blosc-1.21.1               |       h74325e0_3          49 KB  conda-forge
    hdf5-1.12.1                |nompi_h2a0e4a3_104        23.0 MB  conda-forge
    numexpr-2.8.0              |mkl_py310h13231c8_2         126 KB  conda-forge
    pytables-3.7.0             |  py310h5dd77a3_0         1.8 MB  conda-forge
    ------------------------------------------------------------
                                           Total:        25.0 MB

The following NEW packages will be INSTALLED:

  blosc              conda-forge/win-64::blosc-1.21.1-h74325e0_3
  hdf5               conda-forge/win-64::hdf5-1.12.1-nompi_h2a0e4a3_104
  numexpr            conda-forge/win-64::numexpr-2.8.0-mkl_py310h13231c8_2
  pytables           conda-forge/win-64::pytables-3.7.0-py310h5dd77a3_0



Downloading and Extracting Packages

numexpr-2.8.0        | 126 KB    |            |   0%
numexpr-2.8.0        | 126 KB    | #2         |  13%
numexpr-2.8.0        | 126 KB    | ########## | 100%

hdf5-1.12.1          | 23.0 MB   |            |   0%
hdf5-1.12.1          | 23.0 MB   | 3          |   4%
hdf5-1.12.1          | 23.0 MB   | #9         |  19%
hdf5-1.12.1          | 23.0 MB   | ###7       |  37%
hdf5-1.12.1          | 23.0 MB   | #####3     |  54%
hdf5-1.12.1          | 23.0 MB   | #######2   |  72%
hdf5-1.12.1          | 23.0 MB   | #########1 |  91%
hdf5-1.12.1          | 23.0 MB   | ########## | 100%

blosc-1.21.1         | 49 KB     |            |   0%
blosc-1.21.1         | 49 KB     | ########## | 100%

pytables-3.7.0       | 1.8 MB    |            |   0%
pytables-3.7.0       | 1.8 MB    |            |   1%
pytables-3.7.0       | 1.8 MB    | ########## | 100%
pytables-3.7.0       | 1.8 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [34]:
frame = pd.DataFrame({"a": np.random.standard_normal(100)})

In [35]:
store = pd.HDFStore("examples/mydata.h5")

In [36]:
store["obj1"] = frame

In [37]:
store["obj1_col"] = frame["a"]

In [38]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: examples/mydata.h5

In [39]:
store["obj1"]

           a
0   1.444081
1  -1.359244
2   0.710404
3   1.937255
4  -1.026446
..       ...
95  0.315539
96  1.109043
97  1.687967
98 -0.906529
99  1.489787

[100 rows x 1 columns]

In [40]:
conda install requests

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: c:\Users\Daniel\miniconda3\envs\pydata-book

  added / updated specs:
    - requests


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    brotlipy-0.7.0             |py310he2412df_1004         329 KB  conda-forge
    charset-normalizer-2.1.0   |     pyhd8ed1ab_0          35 KB  conda-forge
    cryptography-37.0.2        |  py310ha857299_0         1.1 MB  conda-forge
    idna-3.3                   |     pyhd8ed1ab_0          55 KB  conda-forge
    pyopenssl-22.0.0           |     pyhd8ed1ab_0          49 KB  conda-forge
    pysocks-1.7.1              |  py310h5588dad_5          28 KB  conda-forge
    requests-2.28.1            |     pyhd8ed1ab_0          53 KB  conda-forge
    urllib3-1.26.9             |     pyhd8ed1ab_0         100 KB  conda-forge
    win_inet_pton-1.1.0        |  py310h5588dad_4           9 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.7 MB

The following NEW packages will be INSTALLED:

  brotlipy           conda-forge/win-64::brotlipy-0.7.0-py310he2412df_1004
  charset-normalizer conda-forge/noarch::charset-normalizer-2.1.0-pyhd8ed1ab_0
  cryptography       conda-forge/win-64::cryptography-37.0.2-py310ha857299_0
  idna               conda-forge/noarch::idna-3.3-pyhd8ed1ab_0
  pyopenssl          conda-forge/noarch::pyopenssl-22.0.0-pyhd8ed1ab_0
  pysocks            conda-forge/win-64::pysocks-1.7.1-py310h5588dad_5
  requests           conda-forge/noarch::requests-2.28.1-pyhd8ed1ab_0
  urllib3            conda-forge/noarch::urllib3-1.26.9-pyhd8ed1ab_0
  win_inet_pton      conda-forge/win-64::win_inet_pton-1.1.0-py310h5588dad_4



Downloading and Extracting Packages

win_inet_pton-1.1.0  | 9 KB      |            |   0%
win_inet_pton-1.1.0  | 9 KB      | ########## | 100%
win_inet_pton-1.1.0  | 9 KB      | ########## | 100%

pysocks-1.7.1        | 28 KB     |            |   0%
pysocks-1.7.1        | 28 KB     | ########## | 100%

charset-normalizer-2 | 35 KB     |            |   0%
charset-normalizer-2 | 35 KB     | ########## | 100%

urllib3-1.26.9       | 100 KB    |            |   0%
urllib3-1.26.9       | 100 KB    | ########## | 100%
urllib3-1.26.9       | 100 KB    | ########## | 100%

idna-3.3             | 55 KB     |            |   0%
idna-3.3             | 55 KB     | ########## | 100%

pyopenssl-22.0.0     | 49 KB     |            |   0%
pyopenssl-22.0.0     | 49 KB     | ########## | 100%

requests-2.28.1      | 53 KB     |            |   0%
requests-2.28.1      | 53 KB     | ########## | 100%
requests-2.28.1      | 53 KB     | ########## | 100%

brotlipy-0.7.0       | 329 KB    |            |   0%
brotlipy-0.7.0       | 329 KB    | ########## | 100%
brotlipy-0.7.0       | 329 KB    | ########## | 100%

cryptography-37.0.2  | 1.1 MB    |            |   0%
cryptography-37.0.2  | 1.1 MB    | #########  |  90%
cryptography-37.0.2  | 1.1 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [41]:
import requests

In [42]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [43]:
resp = requests.get(url)

In [44]:
resp.raise_for_status()

In [45]:
resp

In [46]:
data = resp.json()

In [47]:
data[0]["title"]

'Create codeql-analysis.yml'

In [48]:
issues = pd.DataFrame(data, columns=["number", "title", "labels", "state"])

In [49]:
issues

,number,title,labels,state
0,47615,Create codeql-analysis.yml,[],open
1,47614,PERF: cut with IntervalIndex slower than cut w...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
2,47613,Fix Period not using freq when using same base...,[],open
3,47612,CLN: Add tets and fix docstring for concat wit...,[],open
4,47608,BUG: inconsistent index between plain DataFram...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
5,47607,BUG: MultiIndex level not sorted (as desired) ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
6,47606,DOC: sample codes should not override Python b...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
7,47605,BUG: df.groupby().resample()[[cols]] without k...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
8,47604,ENH: Display DataFrame column dtypes (data typ...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
9,47603,Add test for unique aggregation returning diff...,[],open
10,47602,BUG: Make xticks from _quarterly_finder() line...,[],open
11,47601,ENH/TST: Add TestBaseReshaping tests for Arrow...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
12,47600,CI: run flake8-pyi with all the other flake8 p...,[],open
13,47598,BUG: `pd.period_range` ignores multiple of `st...,[],open
14,47597,Added improvements in to_datetime Error report...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,47596,BUG: Inconsistent handling of dropping levels ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,47593,QST: pd.read_sql how to process with null char...,"[{'id': 34444536, 'node_id': 'MDU6TGFiZWwzNDQ0...",open
17,47592,BUG: raised error when converting (`.dt.tz_con...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,47587,TYP: return values in core/*.py,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
19,47585,BUG: Series map ignoring na_action for dict or...,[],open
20,47584,DOC: Indicate `formatters` in `DataFrame.to_st...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
21,47582,BUG: loc aligning rhs with list indexer but no...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,47577,BUG: Setting incompatible values into ea colum...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,47576,"BUG: Spurious ""FutureWarning: Use pd.to_dateti...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,47571,ENH: dataframe.astype() exception message to i...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
25,47570,"BUG: Fixed `tm.set_locale` context manager, it...",[],open
26,47569,"CI 1.4.x: Typing error Overload 2 for ""searchs...","[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
27,47563,BUG: plot option sort_columns doesn't work,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,47557,ENH: RangeIndex._shallow_copy can return Range...,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open
29,47554,"BUG: Series with same index values, but in dif...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

In [50]:
import sqlite3

In [51]:
query = """
   .....: CREATE TABLE test
   .....: (a VARCHAR(20), b VARCHAR(20),
   .....:  c REAL,        d INTEGER
   .....: );"""

In [52]:
con = sqlite3.connect("mydata.sqlite")

In [53]:
con.execute(query)

In [54]:
con.commit()

In [55]:
data = [("Atlanta", "Georgia", 1.25, 6),
   .....:         ("Tallahassee", "Florida", 2.6, 3),
   .....:         ("Sacramento", "California", 1.7, 5)]

In [56]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [57]:
con.executemany(stmt, data)

In [58]:
con.commit()

In [59]:
cursor = con.execute("SELECT * FROM test")

In [60]:
rows = cursor.fetchall()

In [61]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [62]:
conda install sqlalchemy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: c:\Users\Daniel\miniconda3\envs\pydata-book

  added / updated specs:
    - sqlalchemy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    greenlet-1.1.2             |  py310h8a704f9_2          93 KB  conda-forge
    sqlalchemy-1.4.39          |  py310he2412df_0         2.4 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

  greenlet           conda-forge/win-64::greenlet-1.1.2-py310h8a704f9_2
  sqlalchemy         conda-forge/win-64::sqlalchemy-1.4.39-py310he2412df_0



Downloading and Extracting Packages

sqlalchemy-1.4.39    | 2.4 MB    |            |   0%
sqlalchemy-1.4.39    | 2.4 MB    |            |   1%
sqlalchemy-1.4.39    | 2.4 MB    | #####7     |  58%
sqlalchemy-1.4.39    | 2.4 MB    | ########## | 100%
sqlalchemy-1.4.39    | 2.4 MB    | ########## | 100%

greenlet-1.1.2       | 93 KB     |            |   0%
greenlet-1.1.2       | 93 KB     | ########## | 100%
greenlet-1.1.2       | 93 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.