In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
   .....:                    "data1": range(6)})

In [ ]:
df

In [ ]:
pd.get_dummies(df["key"])

In [ ]:
dummies = pd.get_dummies(df["key"], prefix="key")

In [ ]:
dummies

In [ ]:
df_with_dummy = df[["data1"]].join(dummies)

In [ ]:
df_with_dummy

In [ ]:
mnames = ["movie_id", "title", "genres"]

In [ ]:
mnames

In [ ]:
movies = pd.read_table("datasets/movielens/movies.dat", sep="::",
   .....:                        header=None, names=mnames, engine="python")

In [ ]:
movies

In [ ]:
movies.head()

In [ ]:
dummies = movies["genres"].str.get_dummies("|")

In [ ]:
dummies.iloc[:10,:6]

In [ ]:
movies_windic = movies.join(dummies.add_prefix("Genre_"))

In [ ]:
movies_windic.iloc[0]

In [ ]:
s = pd.Series([1, 2, 3, None])

In [ ]:
s

In [ ]:
import re

In [ ]:
text = "foo    bar\t baz  \tqux"

In [ ]:
re.split(r"\s+", text)

In [ ]:
text

In [ ]:
data = pd.Series(np.random.uniform(size=9),
   ....:                  index=[["a", "a", "a", "b", "b", "c", "c", "d", "d"],
   ....:                         [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [ ]:
data

In [ ]:
data["b"]

In [ ]:
data.loc[["b", "d"]]

In [ ]:
data.loc[:, 2]

In [ ]:
data = pd.read_csv("examples/macrodata.csv")

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("examples/macrodata.csv")

In [ ]:
data=data.loc[:, ["year", "quarter", "realgdp", "infl", "unemp"]]

In [ ]:
data.head()

In [ ]:
periods = pd.PeriodIndex(year=data.pop("year"),
   .....:                          quarter=data.pop("quarter"),
   .....:                          name="date")

In [ ]:
periods

In [ ]:
data.index = periods.to_timestamp("D")

In [ ]:
data.head()

In [ ]:
data = data.reindex(columns=["realgdp", "infl", "unemp"])

In [ ]:
data.columns.name = "item"

In [ ]:
data.head()

In [ ]:
long_data = (data.stack()
   .....:              .reset_index()
   .....:              .rename(columns={0: "value"}))

In [ ]:
long_data[:10]

In [ ]:
pivoted = long_data.pivot(index="date", columns="item",
   .....:                           values="value")

In [ ]:
pivoted.head()

In [ ]:
long_data["value2"] = np.random.standard_normal(len(long_data))

In [ ]:
long_data[:10]

In [ ]:
pivoted = long_data.pivot(index="date", columns="item")

In [ ]:
pivoted.head()

In [ ]:
pivoted["value"].head()

In [ ]:
df = pd.DataFrame({"key": ["foo", "bar", "baz"],
   .....:                    "A": [1, 2, 3],
   .....:                    "B": [4, 5, 6],
   .....:                    "C": [7, 8, 9]})

In [ ]:
df

In [ ]:
melted = pd.melt(df, id_vars="key")

In [ ]:
melted

In [ ]:
reshaped = melted.pivot(index="key", columns="variable",
   .....:                         values="value")

In [ ]:
reshaped

In [ ]:
reshaped.reset_index()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data = np.arange(10)

In [ ]:
data

In [ ]:
plt.plot(data)

In [ ]:
%matplotlib inline

In [ ]:
plt.plot(data)

In [ ]:
fig=plt.figure()

In [ ]:
ax1 = fig.add_subplot(2, 2, 1)

In [ ]:
ax1

In [ ]:
ax2 = fig.add_subplot(2, 2, 2)

In [ ]:
ax3 = fig.add_subplot(2, 2, 3)

In [ ]:
fig = plt.figure()
ax1 = fig.add_subplot(2, 2, 1)
ax2 = fig.add_subplot(2, 2, 2)
ax3 = fig.add_subplot(2, 2, 3)

In [ ]:
ax3.plot(np.random.standard_normal(50).cumsum(), color="black",
   ....:          linestyle="dashed")

In [ ]:
ax3

In [1]:
import numpy as np
import pandas as pd

In [2]:
tips=pd.read_csv("examples/tips.csv")

In [3]:
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [4]:
tips["tip_pct"]=tips["tip"]/tips["total_bill"]

In [5]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [6]:
grouped=tips.groupby(["day", "smoker"])

In [7]:
grouped

In [8]:
grouped.mean()

             total_bill       tip      size   tip_pct
day  smoker
Fri  No       18.420000  2.812500  2.250000  0.151650
     Yes      16.813333  2.714000  2.066667  0.174783
Sat  No       19.661778  3.102889  2.555556  0.158048
     Yes      21.276667  2.875476  2.476190  0.147906
Sun  No       20.506667  3.167895  2.929825  0.160113
     Yes      24.120000  3.516842  2.578947  0.187250
Thur No       17.113111  2.673778  2.488889  0.160298
     Yes      19.190588  3.030000  2.352941  0.163863

In [9]:
grouped_pct=grouped["tip_pct"]

In [10]:
grouped_pct

In [11]:
grouped_pct.agg("mean")

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [12]:
grouped_pct.agg(["mean", "std", peak_to_peak])

NameError: name 'peak_to_peak' is not defined

In [13]:
grouped_pct.agg(["mean", "std", peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [12]:
def peak_to_peak(arr):
   ....:     return arr.max() - arr.min()

In [15]:
grouped.agg(peak_to_peak)

C:\Users\Daniel\AppData\Local\Temp\ipykernel_1508\4193407341.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  grouped.agg(peak_to_peak)

             total_bill   tip  size   tip_pct
day  smoker
Fri  No           10.29  2.00     1  0.067349
     Yes          34.42  3.73     3  0.159925
Sat  No           41.08  8.00     3  0.235193
     Yes          47.74  9.00     4  0.290095
Sun  No           39.40  4.99     4  0.193226
     Yes          38.10  5.00     3  0.644685
Thur No           33.68  5.45     5  0.193350
     Yes          32.77  3.00     2  0.151240

In [17]:
grouped_pct.agg([("average", "mean"), ("stdev", np.std)])

              average     stdev
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [18]:
functions = ["count", "mean", "max"]

In [19]:
result = grouped[["tip_pct", "total_bill"]].agg(functions)

In [20]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [14]:
def top(df, n=5, column="tip_pct"):
   ....:     return df.sort_values(column, ascending=False)[:n]

In [15]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
232       11.61  3.39     No  Sat  Dinner     2  0.291990
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525

In [16]:
tips.groupby("smoker").apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     232       11.61  3.39     No   Sat  Dinner     2  0.291990
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       88        24.71  5.85     No  Thur   Lunch     2  0.236746
Yes    172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       109       14.31  4.00    Yes   Sat  Dinner     2  0.279525

In [17]:
tips.groupby("smoker").top

AttributeError: 'DataFrameGroupBy' object has no attribute 'top'

In [19]:
tips.groupby("smoker").apply(top, n=1, column="total_bill")

            total_bill   tip smoker  day    time  size   tip_pct
smoker
No     212       48.33   9.0     No  Sat  Dinner     4  0.186220
Yes    170       50.81  10.0    Yes  Sat  Dinner     3  0.196812

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from datetime import datetime

In [4]:
now=datetime.now()

In [5]:
now

datetime.datetime(2022, 7, 18, 13, 4, 30, 191766)

In [6]:
now.year, now.month, now.day

(2022, 7, 18)

In [7]:
stamp = datetime(2011, 1, 3)

In [8]:
stamp.strftime("%F")

'2011-01-03'

In [9]:
value = "2011-01-03"

In [10]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [11]:
datetime.strptime(value, "%F")

ValueError: 'F' is a bad directive in format '%F'

In [12]:
conda install statsmodels

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [13]:
conda install scikit-learn

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: c:\Users\Daniel\miniconda3\envs\pydata-book

  added / updated specs:
    - scikit-learn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    joblib-1.1.0               |     pyhd8ed1ab_0         210 KB  conda-forge
    scikit-learn-1.1.1         |  py310h4dafddf_0         7.5 MB  conda-forge
    threadpoolctl-3.1.0        |     pyh8a188c0_0          18 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         7.7 MB

The following NEW packages will be INSTALLED:

  joblib             conda-forge/noarch::joblib-1.1.0-pyhd8ed1ab_0
  scikit-learn       conda-forge/win-64::scikit-learn-1.1.1-py310h4dafddf_0
  threadpoolctl      conda-forge/noarch::threadpoolctl-3.1.0-pyh8a188c0_0



Downloading and Extracting Packages

scikit-learn-1.1.1   | 7.5 MB    |            |   0%
scikit-learn-1.1.1   | 7.5 MB    |            |   0%
scikit-learn-1.1.1   | 7.5 MB    | #5         |  15%
scikit-learn-1.1.1   | 7.5 MB    | ####4      |  44%
scikit-learn-1.1.1   | 7.5 MB    | ######2    |  62%
scikit-learn-1.1.1   | 7.5 MB    | #######7   |  77%
scikit-learn-1.1.1   | 7.5 MB    | #########1 |  91%
scikit-learn-1.1.1   | 7.5 MB    | ########## | 100%

joblib-1.1.0         | 210 KB    |            |   0%
joblib-1.1.0         | 210 KB    | ########## | 100%
joblib-1.1.0         | 210 KB    | ########## | 100%

threadpoolctl-3.1.0  | 18 KB     |            |   0%
threadpoolctl-3.1.0  | 18 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [14]:
train = pd.read_csv('datasets/titanic/train.csv')

In [15]:
test = pd.read_csv('datasets/titanic/test.csv')

In [16]:
impute_value = train['Age'].median()

In [17]:
train['Age'] = train['Age'].fillna(impute_value)

In [18]:
test['Age'] = test['Age'].fillna(impute_value)

In [19]:
train['IsFemale'] = (train['Sex'] == 'female').astype(int)

In [20]:
test['IsFemale'] = (test['Sex'] == 'female').astype(int)

In [21]:
predictors = ['Pclass', 'IsFemale', 'Age']

In [22]:
X_train = train[predictors].to_numpy()

In [23]:
X_test = test[predictors].to_numpy()

In [24]:
y_train = train['Survived'].to_numpy()

In [25]:
 X_train[:5]

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       [ 1.,  1., 35.],
       [ 3.,  0., 35.]])

In [26]:
from sklearn.linear_model import LogisticRegression

In [28]:
model = LogisticRegression()

In [29]:
model.fit(X_train, y_train)

LogisticRegression()

In [30]:
y_predict = model.predict(X_test)

In [31]:
y_predict[:10]

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

In [32]:
path = "datasets/bitly_usagov/example.txt"

In [33]:
with open(path) as f:
   ...:     print(f.readline())

{ "a": "Mozilla\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\/535.11 (KHTML, like Gecko) Chrome\/17.0.963.78 Safari\/535.11", "c": "US", "nk": 1, "tz": "America\/New_York", "gr": "MA", "g": "A6qOVH", "h": "wfLQtf", "l": "orofrog", "al": "en-US,en;q=0.8", "hh": "1.usa.gov", "r": "http:\/\/www.facebook.com\/l\/7AQEFzjSi\/1.usa.gov\/wfLQtf", "u": "http:\/\/www.ncbi.nlm.nih.gov\/pubmed\/22415991", "t": 1331923247, "hc": 1331822918, "cy": "Danvers", "ll": [ 42.576698, -70.954903 ] }

In [34]:
import json
with open(path) as f:
    records = [json.loads(line) for line in f]

In [35]:
records[0]

{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 'c': 'US',
 'nk': 1,
 'tz': 'America/New_York',
 'gr': 'MA',
 'g': 'A6qOVH',
 'h': 'wfLQtf',
 'l': 'orofrog',
 'al': 'en-US,en;q=0.8',
 'hh': '1.usa.gov',
 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991',
 't': 1331923247,
 'hc': 1331822918,
 'cy': 'Danvers',
 'll': [42.576698, -70.954903]}